---
// Layouts
import Layout from "../layouts/MainLayout.astro";
//  assets
import { Image } from 'astro:assets';
import ShipImg from '../assets/images/ship.png';
---

<Layout title="M. Shrief :: Home" description="Junior Software Engineer, working across the Backendand the Frontend working mainly with JavaScript and TypeScript, using Vuejs, Astro, Nodejs with Postgres, MongoDB and Redis">
  <main>
    <section id="summary">

      <Image src={ShipImg} alt="Sailing Frigate across seas of code."
        width="480" height="360" decoding="async" loading="lazy" />

      <div>
        <h1>Mohamed Shrief<br><span>Junior Software Engineer</span></h1>
        <ul>
          <li>I'm working across the <strong>Backend</strong> and the <strong>Frontend</strong></li>
          <li>
            I'm working mainly with <strong>JavaScript</strong> and <strong>TypeScript</strong>.
          </li>
          <li>
            I'm working with <strong>Nodejs</strong> and <strong>Express.js</strong> in
            the backend
          </li>
          <li>
            I'm working with <strong>Postgres</strong>, <strong>MongoDB</strong> and <strong
              >Redis</strong
            >.
          </li>
          <li>
            I'm working with <strong>Astro</strong> and <strong>Vuejs</strong>
            ecosystem in the frontend.
          </li>
          <li>Currently, I'm learning <strong>Go</strong>.</li>
        </ul>
        <a
        id="resume"
        class="social-info"
        slot="resume"
        rel="Download resume"
        target="_blank"
        href="https://raw.githubusercontent.com/M-Shrief/M-Shrief/main/Mohamed%20Shrief%20-%20%20Junior%20Software%20Engineer%20(Backend%20-%20Frontend).pdf"
        >Resume</a
        >
      </div>
    </section>
    <section id="blogs">
      <h2>Recent Blogs:</h2>
      <ul>
        <li>
          <a class="blog" rel="blog" target="_self" href="/blog/migrate-vuejs-spa-to-ssr-with-astro/state-management"
            >Migrate from Vuejs SPA to SSR with Astro - State Management</a
          > 
        </li>
        <li>
          <a class="blog" rel="blog" target="_self" href="/blog/migrate-vuejs-spa-to-ssr-with-astro/strategy"
            >Migrate from Vuejs SPA to SSR with Astro - Strategy</a
          > 
        </li>
        <li>
          <a class="blog" rel="blog" target="_self" href="/blog/migrate-vuejs-spa-to-ssr-with-astro/setup"
            >Migrate from Vuejs SPA to SSR with Astro - Setup</a
          > 
        </li>
        <li>
          <a class="blog" rel="blog" target="_self" href="/blog/migrate-vuejs-spa-to-ssr-with-astro/intro"
            >Migrate from Vuejs SPA to SSR with Astro - Intro</a> 
        </li>
      </ul>
    </section>
    <!-- <section id="characteristics">
      <h2>I'm open to work full-time or as a <strong>freelancer</strong></h2>
      <div class="grid">
        <div id="employee">
          <h3>As an Employee</h3>
          <ul>
            <li>Putting priorities first, and focus mainly to achieve main buisiness values</li>
            <li>Working to be a multiplayer, covering and helping teammates in multiple responsibilites.</li>
            <li>Refuse over-engineering, and work to remove unneccassery costs and complexity.</li>
            <li>Working to open doors for scaling.</li>
            <li>Focusing on delivering reliable products, with security in mind.</li>
            <li>Learning about the wider scope of web development to be able to communicate easily and effectively with other teammates.</li>
            <li>Achieving goals on its timeframe.</li>
          </ul>
        </div>
        <div id="freelancer">
          <h3>As a Freelancer</h3>
          <ul>
            <li>Focusing on your core goals and needs, so that I achieve the optimal solution for your case.</li>
            <li>Focusing on delivering best value for money.</li>
            <li>Achieve best performance and SEO.</li>
            <li>Communicate clearly and honestly.</li>
            <li>Delivering maintainable and extendable products, which can be easily maintained by another developer.</li>
            <li>Meeting Deadlines.</li>
          </ul>
        </div>
      </div>
    </section> -->
  </main>
</Layout>

<style lang="scss">
  @import "../assets/mixins.scss";
  main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    
    @include mQ($breakpoint-md) {
      width: 95%;
    }

    @include mQ($breakpoint-sm) {
      width: 95%;
    }
    #summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row-reverse;
      
      @include mQ($breakpoint-md) {
        flex-direction: column;
      }
      
      @include mQ($breakpoint-sm) {
        flex-direction: column;
      }
      h1 {
        font-size: 3rem;
        span {
          font-size: 2rem;
        }
        @include mQ($breakpoint-sm) {
          font-size:1.4rem;
          span {
            font-size: 1rem;
          }
        }
      }
      li {
        font-size: 1.2rem;
        margin: 0.3rem auto;
        @include mQ($breakpoint-sm) {
          font-size:1rem;
        }
      }
      #resume {
        background-color: var(--brand);
        color: var(--text1-dark);
      }

      img {
        @include mQ($breakpoint-sm) {
          width: 240px;
          height: 240px;
        }
      }
      #open-to-work {
        font-size: 1.2rem;
        @include mQ($breakpoint-sm) {
          font-size: 1rem;
        }
      }
      @include social-info;
    }

    #blogs {
      h2 {
        @include mQ($breakpoint-sm) {
          font-size: 1.2rem;
        }
      }
      li {
        margin: 0.5rem auto;
      }
      .blog {
        @include blog-link
      }
    }

    #characteristics {
      margin: 1rem auto 2rem;
      h2 {
        @include mQ($breakpoint-sm) {
          font-size:1.2rem
        }
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin: 0.5rem;
        @include mQ($breakpoint-md) {
          grid-template-columns: 1fr
        }
      }
      #freelancer, #employee {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: var(--surface1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

        h3 {
          text-align: center;
          @include mQ($breakpoint-sm) {
            font-size:1rem;
          }
        }
        ul li {
          font-size: 1rem;
          font-weight: 500;
          margin: 0.3rem auto;
          @include mQ($breakpoint-sm) {
            font-size:0.8rem;
          }
        }
      }
    }
  }
</style>
