---
// Layout
import Layout from "../layouts/MainLayout.astro";
// Components
import PreviewTabsList from "../components/previewTabsList.astro";
import Footer from "../components/footer.astro";
---

<Layout title="M. Shrief :: Projecs" description="My projects as a Backend & Frontend Developer, working mainly with JavaScript & TypeScript, using Vuejs, Astro, Nodejs with Postgres, MongoDB and Redis">
    <main>
        <h1>Projects: “Adeeb أديب”</h1>
        <p>It's concerned with Arabic literature. It assumes a business model that enables
        you to order a specific piece of literature to be printed with especial colors
        and font. Then it'll be delivered to the customer, with the ability for the
        customer to follow up the process. And for special customers, it provides them
        with the ability to make bulk orders fast and easy. And if they’re willing to
        signup, they can review all of their past orders.</p>
        <p><b>My Role: Frontend & Backend development, the project have 2 versions:</b></p>


        <section>
            <h2>“Adeeb أديب” Astro & Vuejs SSR with a Nodejs REST API with Postgres and Redis</h2>
            <div class="project-links">
                Links:
                <a href="https://adeeb.m-shrief.tech" target="_blank" title="Live demo">Live Deployment</a> - 
                <a href="https://github.com/M-Shrief/Adeeb_Astro_SSR" target="_blank" title="github repo">Frontend's repo</a> - 
                <a href="https://github.com/M-Shrief/Adeeb_ExpressTS_Postgres" target="_blank" title="github repo">Backend's repo</a>
            </div>
            <ul class="project-overview">
                <li>Tech stack:
                    <ul>
                        <li>TypeScript with HTML & SCSS</li>
                        <li>Astro & Vuejs</li>
                        <li>Nodejs & Express.js</li>
                        <li>Postgres & TypeORM with Redis</li>
                    </ul>
                </li>
                <li>Characteristics:
                    <ul>
                        <li class="project-links">Full mark on <a href="https://googlechrome.github.io/lighthouse/viewer/?psiurl=https%3A%2F%2Fadeeb.m-shrief.tech%2F&strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&category=pwa&utm_source=lh-chrome-ext#">google’s Lighthouse</a> and <a href="https://pagespeed.web.dev/analysis/https-adeeb-m-shrief-tech/bqwyq28oyq?form_factor=mobile">PageSpeed insights</a>.</li>
                        <li>JWT authentication & authorization</li>
                        <li>Data validation with vee-validate & Yup</li>
                        <li>Dark/Light Theme</li>
                        <li>API tests with Mocha & Chai, and Component testing with Cypress</li>
                        <li>Using PM2 for process management.</li>
                    </ul>
                </li>
                <li>Deployed on:
                    <ul>
                    <li>Frontend: deployed on Digital ocean server, on Ubuntu, with Astro's node adapter and Nginx & PM2.</li>
                    <li>Backend: deployed on Digital ocean server, on Ubuntu, with Nginx & PM2, databases (Postgres & Redis) managed on the same server.</li>
                    <li>Using CloudFlare to manage Domains, DNS, SSL, CDNs and on.</li>
                    </ul>
                </li>
            </ul>
            <div class="project-preview">
                <p>Project preview:</p>
                <PreviewTabsList/>
            </div>
        </section>

        <section>
            <h2>“Adeeb أديب ” Vuejs SPA with a Node REST API with MongoDB and Redis</h2>
            <div class="project-links">
                Links: 
                <a href="https://github.com/M-Shrief/Adeeb_Vue_TS" target="_blank" title="github repo">Frontend's repo</a> - 
                <a href="https://github.com/M-Shrief/Adeeb_ExpressTS" target="_blank" title="github repo">Backend's repo</a>
            </div>
            <ul class="project-overview">
                <li>Tech stack:
                    <ul>
                        <li>TypeScript with HTML & SCSS</li>
                        <li>Vuejs with Pinia & vue-router</li>
                        <li>Nodejs & Express.js</li>
                        <li>MongoDB with Redis</li>
                    </ul>
                </li>
                <li>Characteristics:
                    <ul>
                        <li>JWT authentication & authorization</li>
                        <li>Data validation with vee-validate & Yup</li>
                        <li>Dark/Light Theme</li>
                        <li>API tests with Mocha & Chai, and Component testing with Cypress</li>
                        <li>Using PM2 for process management.</li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>
    <Footer/>
</Layout>

<style lang="scss">
@import "../assets/mixins.scss";
main {
    width: 80%;
    margin: 0 auto;

    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }

    @include mQ($breakpoint-md) {
        width: 95%;
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size:1.5rem;
        }
        p {
            font-size: 1.2rem;
        }
    }

    @include mQ($breakpoint-sm) {
        width: 95%;
        h1 {
            font-size: 1.4rem;
        }
        h2, p {
            font-size:1rem;
        }
    }

    .project-links {
        font-size: 1.2rem;
        @include mQ($breakpoint-md) {
            font-size:1rem;
        }
        @include mQ($breakpoint-sm) {
            font-size:0.8rem;
        }
        a {
            text-decoration: none;
            font-weight: 600;
            color: var(--brand);
            margin: auto 0.2rem;
            transition: scale 0.25;
            &:hover {
                text-decoration: underline; 
            }
        }
    }

    .project-overview {
        font-size: 1.15rem;
        ul li {
            margin: 0.3rem auto;
        }
        @include mQ($breakpoint-sm) {
            font-size: 0.8rem;
            ul li {
                margin: 0.1rem auto;
            }
        }
    }
}
</style>