<a class="social-info" rel="Download resume" target="_blank"  href="https://raw.githubusercontent.com/M-Shrief/M-Shrief/main/Mohamed%20Shrief%20-%20Junior%20Backend%20%26%20Frontend%20developer.pdf">Resume</a>
<button class="social-info copy" value="m.shrief.dev@proton.me">Mail</button>
<button class="social-info copy" value="+201025331595">Phone</button>

<style lang="scss">
// @import '../assets/mixins.scss';
.social-info {
    display: inline-block;
    border-radius: 1.25rem;
    padding: 0.5rem 1.5rem;
    margin: 0 0.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    border: none;

    color: var(--surface2);
    background-color: var(--text1);
    transition: color 0.25s,  background-color 0.25s, scale 0.25;
    &:hover {
      color: var(--surface2);
      background-color: var(--text1);
      text-decoration: underline;
      transform: scale(0.95);
    }
  }
</style>

<script >
    const buttons = document.querySelectorAll('.copy') as NodeListOf<HTMLButtonElement>;
    
    buttons.forEach(button => {
        button.addEventListener('click', async () => {
        await navigator.clipboard.writeText(button.value);
        const defaultText = button.innerText;
        button.innerText = 'Copied';
        setTimeout(() => {
            button.innerText = defaultText;
        }, 300)
    });
    })
</script>