<button class="social-info copy" id="Mail" value="m.shrief.dev@proton.me">Mail</button>

<style lang="scss">
@import '../assets/mixins.scss';

@include social-info;  
</style>

<script>
    async function copyValue(button: HTMLButtonElement) {
        button.addEventListener('click', async () => {
            await navigator.clipboard.writeText(button.value);
            button.innerText = 'Copied';
            setTimeout(() => {
                button.innerText = button.id;
            }, 300)
        });
    }

    window.onload = () => {
        const button = document.querySelector('.copy') as HTMLButtonElement;
        copyValue(button)
    }

    document.addEventListener('astro:page-load', () => {
        const button = document.querySelector('.copy') as HTMLButtonElement;
        copyValue(button)
    })
</script>