<slot name="resume" />
<button class="social-info copy" value="m.shrief.dev@proton.me">Mail</button>
<button class="social-info copy" value="+201025331595">Phone</button>

<style lang="scss">
@import '../assets/mixins.scss';

@include social-info;  
</style>

<script>
    async function copyValue(button: HTMLButtonElement) {
        button.addEventListener('click', async () => {
            await navigator.clipboard.writeText(button.value);
            const defaultText = button.innerText;
            button.innerText = 'Copied';
            setTimeout(() => {
                button.innerText = defaultText;
            }, 300)
        });
    }

    window.onload = () => {
        const buttons = document.querySelectorAll('.copy') as NodeListOf<HTMLButtonElement>;
        buttons.forEach(button => copyValue(button))
    }

    document.addEventListener('astro:page-load', () => {
        const buttons = document.querySelectorAll('.copy') as NodeListOf<HTMLButtonElement>;
        buttons.forEach(button => copyValue(button))
    })
</script>