---
import PreviewTabsItem from './previewTabsItem.astro';
---

<div class="tabs">
    <PreviewTabsItem tabId='tab-1' isChecked={true} label='Main'
    posterSrc='/adeeb_overview/poster.png'
    videoSrc='/adeeb_overview/main.mp4' >
    <p>Browsing the main page's, while choosing some prints, then we navigate
        to Poem & Poet page. And now, we've some prints ready to customize for
        our order.</p>
    </PreviewTabsItem>
    <PreviewTabsItem tabId='tab-2' isChecked={false} label='Guest'
    posterSrc='/adeeb_overview/poster.png'
    videoSrc='/adeeb_overview/guest.mp4' >
    <p>As a normal Guest/Customer, we start customizing our selected prints'
        colors and font, and checking some random pieces of literature if we
        want to add them, after that we enter our information to submit the
        order. Now, we can follow the process on "history - مراجعة الطلبات"
        page.
    </p>
    </PreviewTabsItem>
    <PreviewTabsItem tabId='tab-3' isChecked={false} label='Partner'
    posterSrc='/adeeb_overview/poster.png'
    videoSrc='/adeeb_overview/partner.mp4' >
    <p>Give partners & special customers to sign up, to review their past
        orders, and make bulk orders fast and easy. </p>
    </PreviewTabsItem>
</div>
  
  
<style lang="scss" >
@import "../assets/mixins.scss";
.tabs {
    position: relative;
    min-height: 45rem;
    clear: both;
    width: 80%;
    margin: 1rem  auto; 
    @include mQ($breakpoint-md) {
        min-height:35rem;
        width: 95%;
        margin: 0.5rem auto;
    }
    @include mQ($breakpoint-sm) {
        min-height:20rem;
    }
}  
</style>