* {
  --brand: #003cb3;
  /* light */
  --text1-light: #3c3c43; /*#*/
  --text2-light: #27272b;
  --surface1-light: #c5c5c5db;
  --surface2-light: #fffff5db;

  /* dark */
  --text1-dark: #fffff5db;
  --text2-dark: #a1a7aa;
  --surface1-dark:#1e1e20;
  --surface2-dark:#161618;
}

:root {
  color-scheme: light;

  /* set defaults */
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
  }
}

[color-scheme='light'] {
  color-scheme: light;

  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
}

[color-scheme='dark'] {
  color-scheme: dark;

  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
}

* {
  /* Icons */
  --icon-fill: var(--surface1-light);
  --icon-fill-hover: var(--surface2-light);
}

html {
 font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--surface2);
  color: var(--text1);
}
