---
import type { CollectionEntry } from "astro:content";
// Components
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import CommentBox from "../components/commentBox.astro";
// Styles
import "../assets/base.css";
import type { MarkdownHeading } from "astro";

type Props = {
  data: CollectionEntry<"blog">["data"],
  headings: MarkdownHeading[]
};

const { title, description, pubDate, updatedDate, heroImage } = Astro.props.data;
const headings = Astro.props.headings
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <main>
      <aside>
        <h3>Table of Content</h3>
        {
          headings.map(head => (
            <a href={`#${head.slug}`} style={`margin-left: ${head.depth * 0.5}rem`}>
              <p>{head.text}</p>
            </a>
          ))
        }
        <span id="date">Published at: {pubDate.toUTCString().slice(0, 16)}</span>
      </aside>
      <article>
        <slot />
      </article>
    </main>
    <CommentBox repo={'M-Shrief/site'} />

    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  main {
    width: 95%;
    margin: 1rem auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    article {
      p {
        padding-left: 0.5rem;
        font-size: 1.15rem;
      }

      li {
        font-size: 1.1rem;
      }

      a {
        text-decoration: underline;
        font-weight: 600;
        color: var(--text1);
      }

      code {
        border-radius: 1rem;
        padding: 1rem;
        span {
          padding: 0.5rem 0;
          display: inline-block;
          font-size: 1rem;
        }
      }
    }
    aside {
      min-width: 15%;
      display: flex;
      flex-direction: column;
      align-content: center;
      a, p {
        margin: 0.1rem 0;
        padding: 0.1rem 0;
      }
      a {
        text-decoration: none;
        color: var(--text1);
        &:hover {
          text-decoration: underline;
        }
      }
      #date {
        margin-top: 2rem;
        font-size: 1rem;
      }
    }
  }
</style>