---
import { ViewTransitions, fade,slide } from "astro:transitions";
import type { CollectionEntry } from "astro:content";
// Layout
import MainLayout from "./MainLayout.astro";
// Components
import Footer from "../components/footer.astro";
import CommentBox from "../components/commentBox.astro";
// Styles
import "../assets/base.css";
import type { MarkdownHeading } from "astro";

type Props = {
  data: CollectionEntry<"blog">["data"],
  headings: MarkdownHeading[]
};

const { title, description, pubDate, updatedDate, heroImage } = Astro.props.data;
const headings = Astro.props.headings
---

<MainLayout title={title} description={description}>
  <main id="blog" transition:name="blog" transition:animate={slide({duration: '0.4s'})}>
    <aside role="navigation">
      <h3>Table of Content</h3>
      {
        headings.map(head => (
          <a href={`#${head.slug}`} style={`margin-left: ${head.depth * 0.5}rem`}>
            <p>{head.text}</p>
          </a>
        ))
      }
      <span id="date">Published at: {pubDate.toUTCString().slice(0, 16)}</span>
    </aside>
    <article>
      <slot />
    </article>
  </main>
  <CommentBox repo={'M-Shrief/site'} />

  <Footer />
</MainLayout>

<style lang="scss" is:global>
  @import "../assets/mixins.scss";

  #blog {
    width: 95%;
    margin: 0rem auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    @include mQ($breakpoint-md) {
      flex-direction: column;
    }
    article {
      width: 60%;
      margin: 1rem auto;
      @include mQ($breakpoint-md) {
        width: 95%;
      }

      p {
        padding-left: 0.5rem;
        font-size: 1.2rem;
        @include mQ($breakpoint-sm) {
          padding-left: 0.2rem;
          font-size: 0.8rem;
        }
      }

      li {
        font-size: 1.1rem;
        margin: 0.3rem auto;
        @include mQ($breakpoint-sm) {
          font-size: 0.8rem;
          margin: 0.1rem auto;
        }
      }

      a {
        text-decoration: underline;
        font-weight: 600;
        color: var(--brand);
      }

      code {
        border-radius: 1rem;
        padding: 1rem;
        span {
          padding: 0.5rem 0;
          display: inline-block;
          font-size: 1rem;
        }
        @include mQ($breakpoint-sm) {
          padding: 0.5rem;
          span {
            padding: 0.2rem 0;
            font-size:0.6rem;
          }
        }
      }
    }
    aside {
      min-width: 15%;
      display: flex;
      flex-direction: column;
      align-content: center;
      @include mQ($breakpoint-md) {
        margin-left: 1rem;
      }
      a, p {
        margin: 0.1rem 0;
        padding: 0.1rem 0;
        font-weight: 600;
        @include mQ($breakpoint-md) {
          font-size:1rem;
        }

        @include mQ($breakpoint-sm) {
          font-size:0.8rem;
        }
      }
      a {
        text-decoration: none;
        color: var(--brand);
        &:hover {
          text-decoration: underline;
        }
      }
      #date {
        margin-top: 2rem;
        font-size: 1rem;
        @include mQ($breakpoint-md) {
          margin-top: 1.5rem;
          font-size:0.8rem;
        }
        @include mQ($breakpoint-sm) {
          margin-top: 1rem;
          font-size:0.6rem;
        }
      }
    }
  }
</style>