--- 
import '../assets/base.css';
import Header from '../components/header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<footer>
			<p>
			  Copyright &copy; 2023 |
			  <a href="mailto:m.shrief.dev@proton.me" title="Mail"
			   target="_blank" id="mail">M. Shrief</a>
			</p>
		</footer>
	</body>
</html>

<style lang="scss">
// @import '../assets/mixins.scss';
footer {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  font-weight: 700;

  #mail {
    color: var(--text1);
    text-decoration: none;
	&:hover {
		text-decoration:underline;
	}
  }

//   @include mQ($breakpoint-sm) {
//     margin-top: 1rem;
//     font-size: 1rem;
//   }
}
</style>
